#manage-author.modal.modal-md.fade(
    aria-hidden='true',
    aria-labelledby='manageAuthorLabel',
    data-backdrop='static',
    data-keyboard='false',
    role='dialog',
    tabindex='-1'
)
    .modal-dialog(role='document')
        .modal-content
            .modal-body.row.text-center
                .col-sm-12
                    h4.text-justify {{ adding ? 'Add ' : 'Edit ' }} author data

                    .row
                        .col-sm-12.data-container
                            fieldset
                                legend Name
                                input(
                                    placeholder='Jhon Doe',
                                    v-model='authorData.name'
                                )
                            .d-flex
                                .col-sm-8.p-0
                                    fieldset.w-95p
                                        legend Nationality
                                        input(
                                            placeholder='Mexican, European, etc...',
                                            v-model='authorData.nationality'
                                        )
                                .col-sm-4.p-0
                                    fieldset
                                        legend Author Age
                                        input(
                                            placeholder='40 years old',
                                            v-model='authorData.age'
                                        )
                            fieldset
                                legend Literary Genre
                                input(
                                    placeholder='Novel, Poetry, etc...',
                                    v-model='authorData.genre'
                                )

                    .row
                        .col-sm-6
                            button.btn.btn-secondary.pl-5.pr-5(
                                @click='cancel()'
                            ) Cancel
                        .col-sm-6
                            button.btn.btn-primary.pl-5.pr-5(
                                @click='adding ? postAuthor(authorData) : putAuthor(authorData)'
                            ) Confirm {{ adding ? 'Add ' : 'Edit ' }}


