<template lang='pug' src='./manage-author.pug'></template>

<script>
    /* eslint-disable */

    // Services
    import globalService from '../../../services/global-service'

    export default {
        name: 'ManageAuthor',

        props: {
            adding: {
                default: true,
                required: true,
                type: Boolean,
            },
            author: {
                default: () => ({}),
                required: false,
                type: Object,
            },
            author_id: {
                default: '',
                required: false,
                type: String,
            }
        },

        data() {
            return {
                authorData: {
                    age: '',
                    genre: '',
                    nationality: '',
                    name: '',
                },
            }
        },

        watch: {
            author(author) {
                this.authorData = author;
            }
        },

        methods: {
            cancel() {
                this.authorData = {
                    age: '',
                    genre: '',
                    nationality: '',
                    name: '',
                }

                this.$emit('close-modal', '#manage-author');
            },

            postAuthor(author) {
                globalService.postAuthor(author)
                this.$emit('close-modal', '#manage-author');
                this.$emit('get-authors');
            },

            putAuthor(author) {
                globalService.putAuthor(this.author_id, author)
                this.$emit('close-modal', '#manage-author');
                this.$emit('get-authors');
            },
        }
    }
</script>
