.landing
    Menu(
        :adding='isAdding'
        :author_id='authorId'
        :author='authorData'
        :authors='authors'
        :book_id='bookId'
        :book='bookData'
        :empty_authors='authors.length === 0'
        v-on:close-modal='closeModal'
        v-on:get-authors='getAuthors'
        v-on:get-books='getBooks'
    )
    .container
        .row
            .list-container.col-sm-12
                .text-justify
                    h3 Authors
                .row
                    .col-sm-12.mt-3(
                        v-if='authors.length === 0'
                    )
                        h4.empty-list Empty authors List
                    .col-md-6.col-sm-12.mt-3(
                        :key='index'
                        v-else
                        v-for='(author, index) in authors'
                    )
                        .card.card-container
                            .book-info-container
                                p Name:
                                    span &nbsp; {{ author.data.name }}
                                p Age:
                                    span &nbsp; {{ author.data.age }}
                                p Nacionality:
                                    span &nbsp; {{ author.data.nationality }}
                                p Literary genre:
                                    span &nbsp; {{ author.data.genre }}
                            .options-container
                                .col-6.options(
                                    @click='confirmDelete(author.id, author.data.name, true)'
                                ) Delete
                                .col-6.options.edit-option(
                                    @click='editAuthor(author)'
                                ) Edit

            .list-container.col-sm-12
                .text-justify
                    h3 Books
                .row
                    .col-sm-12.mt-3(
                        v-if='books.length === 0'
                    )
                        h4.empty-list Empty books List
                    .col-md-6.col-sm-12.mt-3(
                        :key='index'
                        v-else
                        v-for='(book, index) in books'
                    )
                        .card.card-container
                            .book-info-container
                                p Author:
                                    span &nbsp; {{ book.data.author_name }}
                                p Name:
                                    span &nbsp; {{ book.data.name }}
                                p.book-desc Description:
                                    span &nbsp; {{ book.data.description }}
                                p Editorial:
                                    span &nbsp; {{ book.data.editorial }}
                                p ISBN:
                                    span &nbsp; {{ book.data.isbn }}
                                p Dewey Classification:
                                    span &nbsp; {{ book.data.dewey }}
                            .options-container
                                .col-6.options(
                                    @click='confirmDelete(book.id, book.data.name, false)'
                                ) Delete
                                .col-6.options.edit-option(
                                    @click='editBook(book)'
                                ) Edit

    include ../modals/confirm-delete
