.landing
  .book-desc
    overflow hidden
    white-space nowrap
    text-overflow ellipsis

  .book-info-container
    margin 0 1rem

  .card-container
    background-color #f3f3f3
    font-weight bold
    padding 10px 0 0
    text-align justify

    span
      font-weight 100

  .empty-list
    color #ccc
    margin-top 20px
    text-align center

  .list-container
    border 1px solid #ccc
    border-radius .25rem
    margin 3rem 1rem
    padding 1rem

  .options-container
    display flex
    border-top 1px solid #d2d2d2

  .options
    color #dc3545
    padding-bottom 0.5rem
    padding-top 0.5rem
    text-align center

  .edit-option
    color #17a2b8
    border-left 1px solid #d2d2d2


