<template lang='pug' src='./landing.pug'></template>
<style lang='stylus' src='./landing.styl'></style>

<script>
    /* eslint-disable */

    // Components
    import Menu from '../menu/menu.vue'

    // Services
    import globalService from '../../services/global-service'

    export default {
        name: 'Landing',

        components: {
            Menu
        },

        data() {
            return {
                authorData: {
                    age: '',
                    genre: '',
                    id: 1,
                    nationality: '',
                    name: '',
                    publications: '',
                },
                bookData: {
                    author_name: '',
                    description: '',
                    dewey: 0,
                    editorial: '',
                    isbn: null,
                    name: '',
                },

                authorId: '',
                bookId: '',
                authors: [],
                books: [],
                nameToRemove: '',
                idToRemove: 0,
                isAuthor: false,
                isAdding: true,
            }
        },

        beforeMount() {
            this.getAuthors();
            this.getBooks();
        },

        methods: {
            closeModal(modal) {
                this.idToRemove = 0
                this.isAuthor = false
                this.isAdding = true
                this.nameToRemove = ''
                this.authorData = {
                    age: '',
                    genre: '',
                    id: 1,
                    nationality: '',
                    name: '',
                    publications: '',
                }
                this.bookData = {
                    author_name: 0,
                    description: '',
                    dewey: 0,
                    editorial: '',
                    isbn: null,
                    name: '',
                }
                $(modal).modal('hide');
            },

            confirmDelete(index, name, isAuthor) {
                this.nameToRemove = name
                this.idToRemove = index
                this.isAuthor = isAuthor
                $('#confirm-delete').modal()
            },

            deleteAuthor(id) {
                globalService.deleteAuthor(id)
                this.closeModal('#confirm-delete')
                this.getAuthors()
            },

            deleteBook(id) {
                globalService.deleteBook(id)
                this.closeModal('#confirm-delete')
                this.getBooks()
            },

            editAuthor(author) {
                this.authorId = author.id
                this.authorData = author.data
                this.isAdding = false
                $('#manage-author').modal()
            },

            editBook(book) {
                this.bookId = book.id
                this.bookData = book.data
                this.isAdding = false
                $('#manage-book').modal()
            },

            getAuthors() {
                this.authors = globalService.getAuthors()
            },

            getBooks() {
                this.books = globalService.getBooks()
            }
        }
    }
</script>
