<template lang='pug' src='./menu.pug'></template>
<style lang='stylus' src='./menu.styl'></style>

<script>
    /* eslint-disable */
    // Components
    import ManageAuthor from '../modals/manage-author/manage-author.vue'
    import ManageBook from '../modals/manage-book/manage-book.vue'

    // Services
    import globalService from '../../services/global-service'


    export default {
        name: 'Menu',

        components: {
            ManageAuthor,
            ManageBook,
        },

        props: {
            author: {
                default: () => ({}),
                required: false,
                type: Object,
            },
            author_id: {
                default: '',
                required: false,
                type: String,
            },
            authors: {
                default: () => ([]),
                required: true,
                type: Array,
            },
            book: {
                default: () => ({}),
                required: false,
                type: Object,
            },
            book_id: {
                default: '',
                required: false,
                type: String,
            },
            empty_authors: {
                default: false,
                required: true,
                type: Boolean,
            },
            adding: {
                default: true,
                required: true,
                type: Boolean,
            },
        },

        methods: {
            addItem(item) {
                if(item === 'author') {
                    $('#manage-author').modal()
                } else {
                    $('#manage-book').modal()
                }
            },

            authorsAlert() {
                $('#empty-authors-warning').modal()
            }
        }
    }
</script>
