section#menu
    ManageAuthor(
        :adding='adding'
        :author='author'
        :author_id='author_id'
        v-on:close-modal='$emit("close-modal", "#manage-author")'
        v-on:get-authors='$emit("get-authors")'
    )
    ManageBook(
        :authors='authors'
        :adding='adding'
        :book='book'
        :book_id='book_id'
        v-on:close-modal='$emit("close-modal", "#manage-book")'
        v-on:get-books='$emit("get-books")'
    )
    .container-fluid.p-0
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            a.navbar-brand.d-flex
                .logo-icon
                    .fas.fa-book
                .logo-text Authors & Books
            button.navbar-toggler(
                aria-controls='menuItems'
                aria-expanded='false'
                aria-label='Toggle navigation'
                data-target='#menuItems'
                data-toggle='collapse'
                type='button'
            )
                span.navbar-toggler-icon
            #menuItems.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        .nav-link.text-white(
                            @click='addItem("author")'
                        ) + Add an author
                    li.nav-item
                        .nav-link.text-white(
                            @click='empty_authors ? authorsAlert() : addItem("book")'
                        ) + Add a book

    include ../modals/empty-authors-warning

