#confirm-delete.modal.modal-md.fade(
    aria-hidden='true',
    aria-labelledby='confirmAuthorDeleteLabel',
    data-backdrop='static',
    data-keyboard='false',
    role='dialog',
    tabindex='-1'
)
    .modal-dialog(role='document')
        .modal-content
            .modal-body.row.text-center
                .col-sm-12
                    h4 Warning
                    p.mb-5.mt-5 Are you sure to remove the {{ isAuthor ? 'author' : 'book' }} &nbsp;
                        span.font-weight-bold {{ nameToRemove }}
                        | ?
                    .row
                        .col-sm-6
                            button.btn.btn-danger.pl-5.pr-5(
                                @click='isAuthor ? deleteAuthor(idToRemove) : deleteBook(idToRemove)'
                            ) Delete
                        .col-sm-6
                            button.btn.btn-secondary.pl-5.pr-5(
                                @click='closeModal("#confirm-delete")'
                            ) Cancel


