#empty-authors-warning.modal.modal-md.fade(
    aria-hidden='true',
    aria-labelledby='emptyAuthosWarningLabel',
    data-backdrop='static',
    data-keyboard='false',
    role='dialog',
    tabindex='-1'
)
    .modal-dialog(role='document')
        .modal-content
            .modal-body.row.text-center
                .col-sm-12
                    h4 Warning
                    p.mb-5.mt-5 The authors list is empty. An author is required to add a Book.
                    .row
                        .col-sm-12
                            button.btn.btn-secondary.pl-5.pr-5(
                                @click='$emit("close-modal", "#empty-authors-warning")'
                            ) Ok


