body
  margin 0

#app
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  color #2c3e50
  font-family Avenir, Helvetica, Arial, sans-serif
  text-align center

  fieldset
    background-color #fbfbfb
    border 1px solid #797B84
    border-radius 8px
    margin-bottom 18px
    padding-inline-start 10px
    width 100%

    input, select, textarea
      height 30px
      background-color #fbfbfb

    textarea
      width 100%

    legend
      color #797B84
      display block
      font-size 12px
      margin-bottom 0
      padding-left 2px
      padding-right 2px
      width auto
      text-align left

    input, select, textarea
      border 0 !important
      font-weight 400
      width 94%

      &:focus, &:hover
        outline none

  .w-95p
    width 95% !important

  .text-white
    color #fff
