<template lang='pug' src='./manage-book.pug'></template>

<script>
    /* eslint-disable */

    // Services
    import globalService from '../../../services/global-service'

    export default {
        name: 'ManageBook',

        props: {
            authors: {
                default: () => ([]),
                required: true,
                type: Array,
            },
            adding: {
                default: true,
                required: true,
                type: Boolean,
            },
            book: {
                default: () => ({}),
                required: false,
                type: Object,
            },
            book_id: {
                default: '',
                required: false,
                type: String,
            }
        },

        data() {
            return {
                bookData: {
                    author_name: 0,
                    description: '',
                    dewey: 0,
                    editorial: '',
                    isbn: null,
                    name: '',
                },
                deweyClassifications: [
                    {
                        id: 0,
                        name: 'Generalities',
                    },
                    {
                        id: 1,
                        name: 'Philosophy',
                    },
                    {
                        id: 2,
                        name: 'Religion',
                    },
                    {
                        id: 3,
                        name: 'Languages',
                    },
                    {
                        id: 4,
                        name: 'Natural Science',
                    },
                    {
                        id: 5,
                        name: 'Applied Science',
                    },
                    {
                        id: 6,
                        name: 'Arts and Recreation',
                    },
                    {
                        id: 7,
                        name: 'Literature',
                    },
                    {
                        id: 8,
                        name: 'Geography and History',
                    },
                    {
                        id: 9,
                        name: 'Biography',
                    },
                ]
            }
        },

        watch: {
            book(book) {
                this.bookData = book;
            }
        },

        methods: {
            cancel() {
                this.bookData = {
                    age: '',
                    genre: '',
                    nationality: '',
                    name: '',
                }

                this.$emit("close-modal", "#manage-book");
            },

            postBook(book) {
                globalService.postBook(book)
                this.$emit("close-modal", "#manage-book");
                this.$emit('get-books');
            },

            putBook(book) {
                globalService.putBook(this.book_id, book)
                this.$emit('close-modal', '#manage-book');
                this.$emit('get-books');
            },
        }
    }
</script>
