#manage-book.modal.modal-md.fade(
    aria-hidden='true',
    aria-labelledby='manageBookLabel',
    data-backdrop='static',
    data-keyboard='false',
    role='dialog',
    tabindex='-1'
)
    .modal-dialog(role='document')
        .modal-content
            .modal-body.row.text-center
                .col-sm-12
                    h4.text-justify {{ adding ? 'Add ' : 'Edit ' }} book data

                    .row
                        .col-sm-12.data-container
                            fieldset
                                legend Name
                                input(
                                    placeholder='Fire and Ice',
                                    v-model='bookData.name'
                                )
                            fieldset
                                legend Description
                                textarea(
                                    placeholder='Short description about the book',
                                    v-model='bookData.description'
                                )
                            .d-flex
                                .col-sm-6.p-0
                                    fieldset.w-95p
                                        legend Editorial
                                        input(
                                            placeholder='Alba, Larousse, etc...',
                                            v-model='bookData.editorial'
                                        )
                                .col-sm-6.p-0
                                    fieldset
                                        legend ISBN
                                        input(
                                            placeholder='International Standard Book Number',
                                            v-model='bookData.isbn'
                                        )
                            fieldset
                                legend Dewey Clasification
                                select(
                                    v-model='bookData.dewey'
                                )
                                    option(value=0 disabled selected) Select a Classification
                                    option(
                                        v-for='(dewey, index) in deweyClassifications'
                                        :key='index'
                                        :value='dewey.name'
                                    ) {{ dewey.name }}
                            fieldset
                                legend Authors List
                                select(
                                    v-model='bookData.author_name'
                                )
                                    option(value=0 disabled selected) Select an Author
                                    option(
                                        v-for='(author, index) in authors'
                                        :key='index'
                                        :value='author.data.name'
                                    ) {{ author.data.name }}
                    .row
                        .col-sm-6
                            button.btn.btn-secondary.pl-5.pr-5(
                                @click='cancel()'
                            ) Cancel
                        .col-sm-6
                            button.btn.btn-primary.pl-5.pr-5(
                                @click='adding ? postBook(bookData) : putBook(bookData)'
                            ) Confirm {{ adding ? 'Add ' : 'Edit ' }}


