<template lang='pug' src='./components/main.pug'></template>
<style lang='stylus' src='./components/main.styl'></style>

<script>
    /* eslint-disable */
    import Landing from './components/landing/landing.vue'

    export default {
        name: 'App',
        components: {
            Landing
        }
    }
</script>
